/* Universal Styles */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-image: url("../images/paper_fibers.png");
  color: #777777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h1, h2, h3 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;	
}

.nav-link {
	font-size: 20px;
}

.name-logo {
	background-color: #4aaaa5;
	color: white;
	font-size: 30px;
}

.name-logo p {
	color: white;
}

.name-logo:hover p{
	color: #4aaaa5;
}

.social-media-link {
	transition: all .2s ease-out;
}

.social-media-link:hover {
	transform: scale(1.2);
	box-shadow: 5px 5px 5px 0px #cccccc;
	transition: all .2s ease-in;
}

/* About Page Styles */
.about-text-wrapper {
	text-indent: 7.5px;
	line-height: 150%;
}

/* Portfolio Page Styles */
.portfolio-wrapper {
	position: relative;
	margin-bottom: 25px;
	text-align: center;
	max-width: 260px;
}

.portfolio-wrapper .caption-wrapper {
    margin: 0 auto;
    margin-top: -54px;
    position: relative;
    width: 100%;
    background-color: #4aaaa5;
}

h3.portfolio-caption {
	color: #ffffff;
}

.portfolio-image {
	max-width: 260px;
	transition: box-shadow .2s ease-out;
}

.portfolio-image:hover {
	box-shadow: 2px 2px 5px #888888;
	transition: box-shadow .2s ease-in;
}

/* Contact Page Styles */
#contact-submit-btn:active {
	transform: scale(.95);
}

/*Footer Styles*/
footer p {
	color: white;
	padding: 15px 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #777777;
}