/* Universal Styles */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
  background-image: url("../images/paper_fibers.png");
  color: #777777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}



h1, h2, h3 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;	
}

.navbar {
	border-bottom: 2px solid #cccccc;
}

.navbar-brand,
.navbar-nav li a {
	line-height: 90px;
	height: 90px;
	padding-top: 0;
}

.nav-link {
	font-size: 20px;
}

.navbar-toggle {
	margin-top: 25px;
}

.name-logo {
	background-color: #4aaaa5;
}

.name-logo h1 {
	color: white;
	line-height: 45px;
}

.name-logo:hover h1{
	color: #4aaaa5;
}

.social-media-link {
	transition: all .2s ease-out;
}

.social-media-link:hover {
	transform: scale(1.2);
	box-shadow: 5px 5px 5px 0 #cccccc;
	transition: all .2s ease-in;
}

/* About Page Styles */
.about-text-wrapper {
	text-indent: 7.5px;
	line-height: 150%;
}

/* Portfolio Page Styles */
.portfolio-wrapper {
	position: relative;
	margin-bottom: 25px;
	text-align: center;
	max-width: 260px;
}

.portfolio-wrapper .caption-wrapper {
    margin: 0 auto;
    margin-top: -54px;
    position: relative;
    width: 100%;
    background-color: #4aaaa5;
}

h3.portfolio-caption {
	color: #ffffff;
	font-weight: normal;
}

.portfolio-image {
	max-width: 260px;
	transition: box-shadow .2s ease-out;
}

.portfolio-image:hover {
	box-shadow: 2px 2px 5px #888888;
	transition: box-shadow .2s ease-in;
}

/* Contact Page Styles */
#contact-submit-btn:active {
	transform: scale(.95);
}

/*Footer Styles*/
footer p {
	color: #ffffff;
	font-size: 12px;
	margin-top: 30px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #777777;
  border-top: 8px solid #4aaaa5;
}

/* Need this to override bootstrap margin-left on navbar brand */
@media (min-width: 768px) {
	.navbar .container .navbar-brand {
		margin-left: 0px;
	}
}